<h1>List of Usernames and Emails</h1>

<ul>
  <% @users.each do |user| %>
  <li>
    <strong>Username:</strong> <%= user.username %>, <strong>E-mail:</strong> <%= user.email %>
    <%= link_to "Edit Account", edit_user_path(user) %>
  </li>
  <% end %>
</ul>

<%= link_to "Create Account", new_user_path %>
