<h1>Create new account here!</h1>

<!--
<form action="/users" method="post" accept-charset="UTF-8">
  Username: <input type="text" name="user[username]"><br>
  E-mail: <input type="text" name="user[email]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>
-->

<form action="/users" method="post" accept-charset="UTF-8">
  Username: <input type="text" name="user[username]"><br>
  E-mail: <input type="text" name="user[email]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>

<%= link_to "Home", root_path %>
